<web-app>
    <servlet>
        <servlet-name>convert</servlet-name>
        <servlet-class>com.example.converter.ConversionServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>convert</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>
</web-app>
